*.root
*.so
*_C.d
*.pcm
*.png
*.txt
*.lib
*.log
*.status
*.lo
*.Plo
*.Po
*.o
*.0
*.1
*Makefile.in
*.la
*.lai
*_Dict.C
*_Dict.h
*.m4
*.sub
*.guess
*requests
*depcomp
*configure
*missing
*libtool
*Makefile
*ltmain.sh
*install-sh
*testexternals*
